<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367075936343-3go5vu3vtn8qjk4t68pj3b2g5677fl4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367075936343-3go5vu3vtn8qjk4t68pj3b2g5677fl4v</string>
	<key>API_KEY</key>
	<string>AIzaSyBjKq7torMttNEdVZYdnzee_Mf1DIqE96I</string>
	<key>GCM_SENDER_ID</key>
	<string>367075936343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>adventure-app-f2369</string>
	<key>STORage_BUCKET</key>
	<string>adventure-app-f2369.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367075936343:ios:86d4c952a5b12acab9bb12</string>
</dict>
</plist>